@use "@/app/base";

.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.9rem;
  flex-direction: row;

  div {
    flex: 1;
    text-align: center;

    h2 {
      margin: 1.5rem 0;
      font-size: 24px;
    }

    hr {
      margin: 2rem auto 2rem auto;
      max-width: 7rem;
      text-align: center;
    }
  }

  p {
    font-size: 16px;
  }
}
